.albumContainer {
  display: flex;
  min-height: 6.5rem;
  font-size: 1.2rem;
  margin: .5rem 0;
  align-items: center;
  width: 100%;
}

.albumContainer__figure {
  width: 5rem;
  margin: .2rem;
  flex: none;
}

.albumContainer__img {
  max-width: 100%;
  max-height: 100%;
}

.albumDescription {
  display: flex;
  list-style-type: none;
  flex: 1;
  margin: .2rem;
  padding-left: .5rem;
  flex-direction: column;
}

.albumContainer__icon {
  margin-right: 1rem;
  color: #d4d4d4;
  background-color: #000;
  border-radius: 50%;
  font-size: 3rem;
  border: solid #000 .2rem;
}

.albumContainer__icon--disabled {
  opacity: .4;
  cursor: not-allowed;
 }

.albumContainer__icon--enabled {
  opacity: 1;
  cursor: pointer;
}

@media screen and (min-width: 641px) {
  .albumContainer {
    font-size: 1.5rem;
  }  
}