.header {
  background-color: #fff;
  display: flex;
  border-bottom: solid .2rem #000;
}

.header__h1 {
  margin-right: auto;
  margin-left: .5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.header__p {

}

