.searchContainer {
  display: flex;
  flex-flow: column;
  /*flex: 1;*/
  width: 100%;
  justify-content: center;
  padding-right: 1rem;
  padding-left: 1rem;
  align-items: center;
  overflow: hidden;
  transition: max-height 1s ease;
}

.searchContainer--active {
  max-height: 50%;
}

.searchContainer--closed {
  max-height: 0;
}

.searchContainer__input {
  border: solid .2rem #000;
  margin-top: 2rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  padding: .5rem;
  width: 100%;
  box-sizing: border-box;
}

.searchContainer__button {
  width: 5rem;
  padding: .5rem;
  align-self: flex-start;
  margin: 1rem 0;
  border: solid .2rem #000;
  cursor: pointer;
}

@media screen and (min-width: 641px) {

  .searchContainer {
    width: 50%;
  }

}